@model WebApplication52.Models.VDevice

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VDevice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="設備位置" class="control-label"></label>
                <input asp-for="設備位置" class="form-control" />
                <span asp-validation-for="設備位置" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="報修原因" class="control-label"></label>
                <input asp-for="報修原因" class="form-control" />
                <span asp-validation-for="報修原因" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="報修人員工號" class="control-label"></label>
                <input asp-for="報修人員工號" class="form-control" />
                <span asp-validation-for="報修人員工號" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="維修人員工號" class="control-label"></label>
                <input asp-for="維修人員工號" class="form-control" />
                <span asp-validation-for="維修人員工號" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="維修進度" class="control-label"></label>
                <input asp-for="維修進度" class="form-control" />
                <span asp-validation-for="維修進度" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="問題原因" class="control-label"></label>
                <input asp-for="問題原因" class="form-control" />
                <span asp-validation-for="問題原因" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="備註" class="control-label"></label>
                <input asp-for="備註" class="form-control" />
                <span asp-validation-for="備註" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="日期" class="control-label"></label>
                <input asp-for="日期" class="form-control" />
                <span asp-validation-for="日期" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
